li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  p{
    text-align: center;
  }

  nav {
    position: relative;
    height: 50px;

  }

 .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;

    width: 100%;
    height: 50px;
    background-color: black;
    border-radius: 20px;
  }

  a.a1 {
    color: aqua;
  }

  a.a1:hover {
    background-color: aqua;
    color: black;
    border-radius: 6px;
  }

  section{
    display: flex;
    justify-content: center;
    margin: 25px;

}
.d1 {

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
grid-template-rows: 1fr 1fr 1fr;

grid-template-areas:
  "box0 box1 box2 box3 box10"
  "box0 box4 box5 box6 box10"
  "box0 box7 box8 box9 box10";
}
.box{
margin: 20px;
box-shadow: 0px 0px 4px black;
background-color: aliceblue;

}


.box0 {
grid-area: box0;
text-align: center;

}
.box10 {
grid-area: box10;
text-align: center;
       
}
.box1 {
grid-area: box1;
text-align: center;

}
.box:hover{
  box-shadow:0px 0px 10px rgb(0, 0, 0) ;
  margin: 10px;
  
}
.box2 {
grid-area: box2;
text-align: center;

}

.box3 {
grid-area: box3;
text-align: center;

}
.box4 {
grid-area: box4;
text-align: center;

}
.box5 {
grid-area: box5;
text-align: center;

}
.box6 {
grid-area: box6;
text-align: center;

}
.box7 {
grid-area: box7;
text-align: center;

}
.box8 {
grid-area: box8;
text-align: center;
    
}
.box9 {
grid-area: box9;
text-align: center;
        
}
.box10 {
grid-area: box10;
text-align: center;
        
}
a{
    text-decoration: none;
    display: block;
}
img{
    height: 180px;
    width: 80%;
}

  footer {
    background-color: rgb(255, 193, 203);
    border-radius: 50px;
    box-shadow: 1px 3px 3px black;
    display: block;
  }

  .container2 {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
  }

   div.d2 {
    text-align: center;
  }

   .l2 {
    display: inline;
    padding: 4px;
  }

 p {
    font-weight: bold;
  }

  .l4{
   font-size: xx-large;
  }
